* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(127, 138, 236);
}

/* header */
header {
    background-color: black;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.errormelding {
    color: red;
    font-size: 30px;
}

.geenmelding {
    color: green;
    font-size: 30px;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;

}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: dodgerblue
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/* content en login css */

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 20px;
}

.btn-secondary {
    background-color: black;
    padding: 15px 20px;
    display: block;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
}

.projects {
    display: flex;
    padding: 20px 0px;
    justify-content: center;

}

.projects h2 {
    margin: 20px 0px;
}

.projects .projectList .project {
    margin: 20px 0px;
    padding: 20px;
    border: 2px solid gray;
}

.projects .projectList .project img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.projects .projectList .project h3 {
    margin: 10px 0px;
}

.image {
    height: 200px;
    width: 200px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.overzicht {
    width: 100%;
}

input[type=submit] {
    width: 100%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.klanten-overzicht {
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.klanten-overzicht th {
    font-size: 30px;
}

.klanten-overzicht td {
    font-size: 20px;
}

.login {
    float: left;
}

.signup {
    float: left;
}

input[type=submit]:hover {
    background-color: gray;
}

.restable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.restd,
.resth {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.restr:nth-child(even) {
    background-color: #dddddd;
}

.errorbutton {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border: 3px;
    background-color: #800000;
}

/* footer */
footer {
    height: 50px;
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

@media screen and (min-width: 768px) {
    .projectList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;

    }

    .project {
        flex: 40%;
        box-sizing: border-box;
    }

}

@media screen and (min-width: 1024px) {
    .project {
        flex: 20%;
    }
}

@media(max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;

    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;

    }

}